/* base do site */

body{

 
    /* remove a margem automática do navegador */
    margin:0;
    /* cor de fundo */
    background-color:black;

    /* define a fonte do site */
    font-family:Arial, sans-serif;
}

/* =====================================
   CABEÇALHO PRINCIPAL
   Controla toda a área do header
===================================== */

.topo{

    /* fundo preto do header */
    background-color:black;

    /* espaço interno */
    padding:20px;

    /* centraliza todo conteúdo interno */
    text-align:center;

    /* referência para elementos absolutos
       do menu mobile */
    position:relative;
}



/* =====================================
   MENU PRINCIPAL (DESKTOP)
   Organiza links + logo central
===================================== */

.menu{

    /* centraliza todo conteúdo do nav */
    text-align:center;
}



/* =====================================
   LINKS DO MENU
===================================== */

.menu a{

    /* cor padrão dos links */
    color:white;

    /* remove sublinhado */
    text-decoration:none;

    /* espaçamento lateral entre links */
    margin:25px;

    /* deixa o texto mais forte */
    font-weight:bold;

    /* mantém alinhamento com a logo */
    vertical-align:middle;
}



/* =====================================
   LINKS JÁ VISITADOS
   Evita que o navegador deixe roxo
===================================== */

.menu a:visited{

    color:white;

    text-decoration:none;
}



/* =====================================
   EFEITO HOVER
   Quando passa o mouse em cima
===================================== */

.menu a:hover{

    color:gold;

    text-decoration:none;
}



/* =====================================
   LOGO CENTRAL DO MENU
===================================== */

.menu img{

    /* tamanho da logo */
    width:135px;

    /* alinha a logo com os links */
    vertical-align:middle;
}



/* =====================================
   BOTÃO HAMBÚRGUER
   No desktop fica escondido
===================================== */

.menu-toggle{

    /* escondido em telas grandes */
    display:none;

    /* remove estilos padrão */
    background:none;
    border:none;

    /* cor do ícone */
    color:gold;

    /* tamanho do ícone */
    font-size:32px;

    /* cursor de clique */
    cursor:pointer;
}



/* =====================================
   RESPONSIVIDADE
   Aplica em telas menores
===================================== */

@media (max-width:768px){



    /* esconde menu inicialmente */
    .menu{

        display:none;

        /* posiciona abaixo do header */
        position:absolute;

        /* distância do topo */
        top:80px;

        /* distância da direita */
        right:20px;

        /* fundo do menu aberto */
        background-color:black;

        /* espaço interno */
        padding:20px;

        /* bordas arredondadas */
        border-radius:8px;

        /* garante que fique sobre outros elementos */
        z-index:10;
    }



    /* links do menu mobile */
    .menu a{

        /* um abaixo do outro */
        display:block;

        /* espaçamento vertical */
        margin:15px 0;
    }



    /* logo menor no celular */
    .menu img{

        width:90px;

        margin:10px 0;
    }



    /* botão aparece no mobile */
    .menu-toggle{

        display:block;

        /* joga para direita */
        margin-left:auto;
    }



    /* quando JS adiciona classe ativo,
       o menu aparece */
    .menu.ativo{

        display:block;
    }

}

/* títulos */
h1{
    color:gold;
}

h2{
    color:gold;
}

/* parágrafos */
p{
    color:white;
    font-size:18px;
}


/* footer principal*/
.footer-principal{

    background-color:#f4e04d;
    width: 100%;
    padding:20px;
}

/* textos do footer */
/* títulos h2 */
.footer-principal h2{

    color:rgb(13, 10, 3);
}

/* paragráfos */
.footer-principal p{

    color:black;
}

/* células td do footer */
.footer-principal td{

    text-align:center;

    /* cada coluna ocupará 33% da largura */
    /* as seções ficarão distribuídas corretamente */
    width: 33%;
    vertical-align:top;

}


/* A parte do copyright ficará: bege claro; separada visualmente do footer */
.copyright{

    background-color:#f5e6c8;
    width:100%;
    padding:20px;
    font-size: 15px;
}

/* células do copyright*/
.copyright td{
    
    text-align:center;

}

/* imagem principal da home */
.hero-home{

    /* faz a imagem ocupar toda a largura da tela */
    width:100%;

    /* define a altura da imagem */
    height:500px;

    /* evita deformação */
    object-fit:cover;

    /* centraliza o enquadramento */
    object-position:center;

    /* remove espaços indesejados */
    display:block;

    margin-bottom: 40px;
}

.banner{

    height: 650px;
    background-color: #efe2a0;

    text-align:center;

    padding:20px;
}

.banner h2{

    margin-bottom: 25;

    color: #060604;


}

.banner p{

    margin-bottom: 20px;
    color: #060604;

}


.banner-imagens{
    /* margin:auto = faz o navegador calcular automaticamente as margens disponíveis */
    margin:auto;
}

/* conteúdos dentro das células td */
.banner-imagens td{

    text-align:center;

    padding:10px;
}

/* IMAGENS */
.banner-imagens img{

    /* largura fixa para padronizar */
    width:280px;

    /* altura fixa */
    height:220px;

    /* evita deformação */
    object-fit:cover;

    /* cantos levemente arredondados */
    border-radius:8px;
}



/* seção completa (tabela da loja, delivery etc.) */
.secao-info{

      /* largura da seção:
       ocupará 55% da largura da tela */
    width:75%;

    /* margem externa:
       3px em cima/baixo
       auto nas laterais = centraliza a tabela */
    margin:3px auto;
}

/* estiliza todas as células td dentro da seção */
.secao-info td{

    /* espaço interno da célula:
       cria respiro entre texto e imagem */
    padding:10px;

    /* alinhamento vertical:
       centraliza o conteúdo no meio da célula */
    vertical-align:middle;
}

.secao-info img{
    width:390px;
    height:490px;
    object-fit:cover;
}

/* estiliza a coluna do texto */
.texto-info{

    /* largura da coluna de texto */
    width:48%;
      /* alinha o texto para a direita,
       como no layout de referência */
    text-align:right;
}

/* estiliza os títulos h2 dentro do texto */
.texto-info h2{

    /* cor do título */
    color:#f4e04d;

    /* tamanho da fonte */
    font-size:30px;

    /* margem inferior:
       cria espaço entre o título e o parágrafo */
    margin-bottom:20px;
}

/* estiliza os parágrafos da seção */
.texto-info p{

    /* cor do texto */
    color:rgb(248, 241, 241);

    /* tamanho da fonte */
    font-size:17px;

}

/* personalizações exclusivas da página contato */
.contato-info{

    width: 100%;
    background-color: #efe2a0;
    margin:0 auto;
    padding:40px 0;

    
}

.contato-info h2{

    color:#b89110;
}

.contato-info p{

    color:black;
}

/* mapa da página contato */
.mapa-contato iframe{
    width:72%;
    height:350px;
}

/* bloco com fundo da fachada */
.bloco-fachada{
    background-color:#efe2a0;
    
    padding:0 0 60px 0;

    /* remove espaços externos */
    /* margin:0; */

    /* cria espaço EXTERNO antes do footer */
    margin-bottom:50px;
}

/* imagem da fachada abaixo do mapa */
.fachada-contato{

    /* transforma a imagem em bloco
       para permitir centralização */
    display:block;

    width:70%;

    height:650px;

      /* ajusta a imagem sem deformar,
       recortando quando necessário */
    object-fit:cover;

    /* remove margens externas */
    margin:0 auto;
}


.titulo-cardapio{

    width:70%;

    /* antes: 40px auto 30px auto */
    /* menos espaço em cima e embaixo */
    margin:35px auto 12px auto;

    background-color:#e9d432;
}

.titulo-cardapio h2{

    color:black;

    /* um pouco menor */
    font-size:25px;

    font-weight:bold;

    /* menos altura interna */
    padding:15px;

    text-align:center;

    padding-left:20px;
}


/* tabela dos produtos */
.cardapio-produtos{

    width:60%;

    /* antes: 0 auto 50px auto */
    margin:0 auto 25px auto;

    /* antes: 30px */
    border-spacing:30px;
}


/* imagens */
.cardapio-produtos img{

    width:100%;

    height:290px;

    object-fit:cover;

    border-radius:10px;
}

.cardapio-produtos h3{
    color:#e9d432;
    font-size:20px;
    font-weight:bold;
    margin-top:16px;
    margin-bottom:14px;
}

.cardapio-produtos p{
    color:white;
    font-size:16px;
    line-height:1.5;
    margin:0;
}


/* seção do cardápio atualizado */
.linktree-cardapio{


    background-color:#ffe15d;

    text-align:center;

    /* espaço interno:
       60px em cima/baixo
       20px laterais */
    padding:30px 50px;
    margin: 70px auto ;
}


.linktree-cardapio h2{

    color:#050502;

    font-size:20px;

    /* negrito */
    font-weight:bold;

    /* remove margens padrão */
    margin:0 0 20px 0;
}

/* texto da descrição */
.linktree-cardapio p{

    color:#000000;

    font-size:15px;

    /* espaço abaixo do texto */
    margin-bottom:30px;
}


.botao-linktree{

    /* transforma o link em botão */
    display:inline-block;

    /* cor de fundo */
    background-color:rgb(0, 0, 0);

    /* cor do texto */
    color:#ffe15d;

    /* remove sublinhado */
    text-decoration:none;

    /* espaço interno */
    padding:18px 35px;

    /* bordas arredondadas */
    border-radius:8px;

    /* negrito*/
    font-weight:bold;

     /* deixa o cursor de mãozinha */
    cursor:pointer;
}

/* efeito ao passar o mouse */
.botao-linktree:hover{

    background-color:#f6f5c1;
}

/* títulos das seções da página (nossa história e antes do burger do chef) */
.titulo-nos{

    /* centraliza o texto */
    text-align:center;

    /* cor do título */
    color:#f4e04d;

    /* tamanho da fonte */
    font-size:36px;

    /* espaço abaixo do título */
    margin-bottom:50px;
}

/* seções com texto + imagem */
.secao-revista{

    /* largura da tabela */
    width:70%;

    /* centraliza horizontalmente*/
    margin:40px auto;
}

/* células da tabela */
.secao-revista td{

    /* cada lado ocupará metade da seção */
    width:50%;

    /* espaço interno */
    padding:25px;

    /* centraliza verticalmente */
    vertical-align:middle;
}


/* imagens das seções  */
.secao-revista img{

    /* ocupa toda a largura célula */
    width:100%;
    
        /* altura fixa para padronizar */
    height:356px;

    /* ajusta a imagem sem deformar */
    object-fit:cover;
}


/* regra específica da imagem da terceira seção */

.secao-revista img.imagem-historia{
    width:100%;
    height:600px;
    object-fit:cover;
    object-position:center;
}

/* bloco de texto */
.texto-revista{

    /* alinhamento do texto */
    text-align:right;
}

/* subtítulos internos */
.texto-revista h3{

    /* cor do texto */
    color:#f3db05;

    /* tamanho da fonte */
    font-size:30px;

    
    /* espaço abaixo */
    margin-bottom:20px;
}

/* parágrafos */
.texto-revista p{

    /* cor do texto */
    color:#ffffff;

    /* tamanho da fonte */
    font-size:18px;
}

/* carrossel de fotos */

.carrossel{

    /* largura do carrossel */
    width:70%;

    /* altura fixa */
    height:500px;

    /* centraliza */
    margin:50px auto;

    /* necessário para o efeito */
    position:relative;

    /* esconde imagens extras */
    overflow:hidden;
}

/* imagens do carrossel */
.slide{

    /* ocupa todo o espaço */
    width:100%;
    height:100%;

    /* ajusta sem deformar */
    object-fit:cover;

    /* coloca todas as imagens empilhadas dentro do mesmo carrosel */
    position:absolute;
    top:0;
    left:0;
    
    /* esconde inicialmente */
    display:none;
}

/* imagem visível */
.slide.ativo{

    display:block;
}




/* frase de impacto */
.frase-nos{

    /* ocupa toda a largura */
    width:100%;

    /* cor de fundo */
    background-color:#ddcd80;
     
    /* coloca texto e imagem lado a lado */
    display:flex;

     /* centraliza horizontalmente, alinha logo com o texto */
     align-items:center;
     
    justify-content:center;

    /* espaço entre texto e logo */
    gap:30px;

    /* espaço interno */
    padding:40px 20px;

    /*margem superior e inferior */
    margin-top:60px auto;

    /* cria espaço EXTERNO antes do footer */
    margin-bottom:50px;

}


/* texto */
.frase-nos p{

    font-size:28px;
    color:black;
}


/* logo */
.frase-nos img{

    width:200px;
    /* mantém proporção */
    height:200px;
}


